.venv/
__pycache__/
synthetic-audios/
voice-clone-audios/
voice-conversion-audios/
Real-Time-Voice-Cloning/*
!Real-Time-Voice-Cloning/main.py
DDDM-VC/*
!DDDM-VC/inference.py
!DDDM-VC/main.py
!DDDM-VC/minimal.txt
!DDDM-VC/requirements.txt
seed-vc/*
!seed-vc/inference.py
!seed-vc/inference_v2.py
!seed-vc/main.py
knn-vc/*
!knn-vc/main.py
FragmentVC/*
!FragmentVC/main.py
!FragmentVC/requirements.txt
QuickVC-VoiceConversion/*
!QuickVC-VoiceConversion/mel_processing.py
!QuickVC-VoiceConversion/main.py
!QuickVC-VoiceConversion/requirements.txt
ppg-vc/*
!ppg-vc/convert_from_wav.py
!ppg-vc/requirements.txt
*.pt
*.pth
*.bin
output.wav
test.wav